 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div style="background-color: #fafbfc;">
<h1 class=" font pl-5" >Supplies</h1>


<div class="m-5" style="background-color: #ffff;">
<table class="table text-center">
  <thead class="thead-dark font ">
    <tr >
    <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @supplies.each do |supply| %>
    <tr>
      <td><%= link_to supply.Name,supply_url(supply) %></td>
      <td><a class="fa fa-edit" href="<%= edit_supply_url(supply)%>"></a></td> 
      <td><a class="fa fa-trash" href="<%= delete_url(supply) %>" , data-method="delete"> </a></td> 
    
    </tr>  
    <% end %>
  </tbody>
</table>
</div>
</div>
