<h1>Supplies</h1>


<% @supplies.each do |supply| %>
  <div>
    <%= link_to supply.Name,supply_url(supply) %>
    <%= link_to " edit ", edit_supply_url(supply) %>
    <%= link_to " delete ", supply , :method => :delete %>
   
  </div>
<% end %>